<div class="log-report-container">
  <h3>Reporte de Bitácora</h3>
  <mat-toolbar>
    <mat-form-field>
      <mat-label>Filtrar por usuario</mat-label>
      <mat-select [(ngModel)]="selectedUserId">
        <mat-option value="">Todos los usuarios</mat-option>
        <mat-option *ngFor="let user of users" [value]="user._id">{{ user.email }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="loadReport()">Cargar reporte</button>
  </mat-toolbar>
  <table mat-table [dataSource]="logs" class="mat-elevation-z8">
    <!-- Columnas de la tabla -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> Usuario </th>
      <td mat-cell *matCellDef="let log"> {{ log.requestData.user.email }} </td>
    </ng-container>

    <ng-container matColumnDef="endpoint">
      <th mat-header-cell *matHeaderCellDef> Módulo / Endpoint </th>
      <td mat-cell *matCellDef="let log"> {{ log.endpoint }} </td>
    </ng-container>

    <ng-container matColumnDef="method">
      <th mat-header-cell *matHeaderCellDef> Método </th>
      <td mat-cell *matCellDef="let log"> {{ log.method }} </td>
    </ng-container>

    <ng-container matColumnDef="statusCode">
      <th mat-header-cell *matHeaderCellDef> Código de Estado </th>
      <td mat-cell *matCellDef="let log"> {{ log.statusCode }} </td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef> Fecha y Hora </th>
      <td mat-cell *matCellDef="let log"> {{ log.timestamp | date:'medium' }} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="requestData">
      <th mat-header-cell *matHeaderCellDef> Datos de Solicitud </th>
      <td mat-cell *matCellDef="let log"> {{ log.requestData | json }} </td>
    </ng-container> -->

    <!-- Cabecera y Filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
