<div class="login-container" *ngIf="!hasSession">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="submitted && f.email.errors">
        <small *ngIf="f.email.errors.required">El correo electrónico es requerido.</small>
        <small *ngIf="f.email.errors.email">Correo electrónico no válido.</small>
      </div>
    </div>

    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password" />
      <div *ngIf="submitted && f.password.errors">
        <small *ngIf="f.password.errors.required">La contraseña es requerida.</small>
        <small *ngIf="f.password.errors.minlength">La contraseña debe tener al menos 6 caracteres.</small>
      </div>
    </div>

    <button mat-raised-button type="submit">Iniciar Sesión</button>
  </form>
</div>
