<div class="grid-container">
  <h1 class="mat-h1">
    <mat-icon>dashboard</mat-icon> Dashboard
  </h1>
  <mat-card>
    <mat-card-content>
      <div class="align-right">
        <button type="button" mat-button [routerLink]="['/invoice']">
          <mat-icon>add</mat-icon> Nueva factura
        </button>
        <button type="button" mat-icon-button (click)="refreshDailySells()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
      <angular-billboard *ngFor="let chart of chartDailySells" [chart]="chart"></angular-billboard>
    </mat-card-content>
  </mat-card>
  <br>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card-tile">
        <mat-card-content>
          <div class="flex">
            <b>Productos por pedir</b>
            <span class="spacer"></span>
            <button type="button" mat-button [routerLink]="['/configuration/inventory']">
              Nuevo ingreso
            </button>
          </div>
          <mat-list dense class="scroll-list">
            <mat-list-item *ngFor="let product of productsMinimun">
              {{ product.name }}
              <span class="spacer"></span>
               {{ product.totalUnits }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="card-tile">
        <mat-card-content>
          <div class="flex">
            <b>Facturas diarias</b>
            <span class="spacer"></span>
            <button type="button" mat-icon-button (click)="refreshDailyInvoices()">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
          <mat-list dense class="scroll-list with-total">
            <mat-list-item *ngFor="let invoice of dailyInvoicesData" [ngClass]="{'bg-annulated': invoice.status === 'annulated'}">
              <div matLine>
                {{ invoice.date | date: 'shortTime' }}
              </div>
              <small class="small-text" matLine>{{ invoice.invoiceNumber }}</small>
              <span class="spacer"></span>
              {{ invoice.total | currency }}
            </mat-list-item>
          </mat-list>
          <div class="block-container">
            <div class="flex">
               <b>Total</b>
              <span class="spacer"></span>
              {{ totalInvoiceSummary | currency }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
