.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.chart-container { }

.card-tile {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid 1px #e5e5e5;
}

.scroll-list {
  height: 250px;
  border: solid 1px #e5e5e5;
  overflow: auto;
  .mat-list-item::ng-deep {
    border-bottom: solid 1px #f5f5f5;
  }
  &.with-total {
    height: 200px;
  }
}
