<mat-toolbar>
  <div layout="row">
    <h1 class="mat-title">Kardex de Productos</h1>
  </div>
</mat-toolbar>
<div class="block-container">
  <form>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de Inicio" [formControl]="startDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput [matDatepicker]="pickerend" placeholder="Fecha de Fin" [formControl]="endDate" autocomplete="off">
        <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
        <mat-datepicker #pickerend disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field class="full-line">
      <input matInput placeholder="Buscar producto..." [matAutocomplete]="products" [formControl]="search">
      <mat-autocomplete #products="matAutocomplete" (optionSelected)="startKardexView($event);" [displayWith]="displayProductName">
        <mat-option *ngFor="let product of filteredAutocomplete | async" [value]="product">
          <span>{{ product.name }}</span> |
          <small>Codigo: {{ product.barcode }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <button type="button" mat-raised-button color="primary" (click)="searchKardex(selectedProduct)" [disabled]="selectedProduct === ''">Consultar</button>
      &nbsp;
      <button type="button" mat-raised-button color="default" (click)="printKardex(selectedProduct)" [disabled]="selectedProduct === ''">Imprimir</button>
    </div>
  </form>
</div>
<mat-card>
  <mat-card-content #reportContent>
    <table mat-table [dataSource]="kardexDataSource" class="mat-elevation-z1">
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element" width="50"> {{ element.item }} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripci&oacute;n </th>
        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element" width="180"> {{ element.registerDate | date: 'medium' }} </td>
      </ng-container>
      <ng-container matColumnDef="movementType">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element" width="90"> {{ element.movementType }} </td>
      </ng-container>
      <ng-container matColumnDef="past">
        <th mat-header-cell *matHeaderCellDef> Cant. Anterior </th>
        <td mat-cell *matCellDef="let element" width="90" align="center"> {{ element.actualQty }} </td>
      </ng-container>
      <ng-container matColumnDef="moved">
        <th mat-header-cell *matHeaderCellDef> Cant. Reg. </th>
        <td mat-cell *matCellDef="let element" width="90" align="center"> {{ element.movedQty }} </td>
      </ng-container>
      <ng-container matColumnDef="final">
        <th mat-header-cell *matHeaderCellDef> Cant. Final </th>
        <td mat-cell *matCellDef="let element" width="90" align="center"> <b>{{ element.totalQty }}</b> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
