.report-header {
  width: 100%;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.report-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

mat-card-title,
mat-card-subtitle {
  font-weight: bold;
}
