<div class="align-right flex">
  <button type="button" mat-icon-button (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
  <span class="spacer"></span>
  <div>
    <button type="button" mat-button (click)="printReport()">
      <mat-icon>print</mat-icon> Imprimir
    </button>
    <mat-form-field class="">
      <input matInput type="text" placeholder="Buscar productos..." (keyup)="apllyFilter($event.target.value)" autocomplete="off">
    </mat-form-field>
  </div>
</div>
<div #reportContent>
  <mat-card class="report-header" *ngIf="movement?._id">
    <mat-card-header>
      <mat-card-title>Reporte de Movimiento</mat-card-title>
      <mat-card-subtitle>Código: {{ movement.movementCode }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div class="report-row">
        <strong>Tipo de Movimiento:</strong> {{ movement.movementType | titlecase }}
      </div>
      <mat-divider></mat-divider>

      <div class="report-row">
        <strong>Fecha de Creación:</strong> {{ movement.creationDate | date:'medium' }}
      </div>
      <mat-divider></mat-divider>

      <div class="report-row">
        <strong>Usuario:</strong> {{ movement.userId }}
      </div>
      <mat-divider></mat-divider>

      <div class="report-row">
        <strong>Observaciones:</strong> {{ movement.observations || '' }}
      </div>
      <mat-divider></mat-divider>

      <div class="report-row">
        <strong>Proveedor:</strong> {{ movement.provider || '' }}
      </div>
      <mat-divider></mat-divider>

      <div class="report-row">
        <strong>Número de Factura:</strong> {{ movement.invoiceNumber || '' }}
      </div>
    </mat-card-content>
  </mat-card>
  <table mat-table matSort [dataSource]="detailsDataSource" class="mat-elevation-z1">
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element" width="50"> {{ element.item }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
      <td mat-cell *matCellDef="let element"> {{ element.product.name }} </td>
    </ng-container>
    <ng-container matColumnDef="boxes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cajas </th>
      <td mat-cell *matCellDef="let element"> {{ element.boxes }} </td>
    </ng-container>
    <ng-container matColumnDef="units">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidades </th>
      <td mat-cell *matCellDef="let element"> {{ element.units }} </td>
    </ng-container>

    <ng-container matColumnDef="lote">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lote </th>
      <td mat-cell *matCellDef="let element"> {{ element.lote || '-' }} </td>
    </ng-container>
    <ng-container matColumnDef="laboratory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Laboratorio </th>
      <td mat-cell *matCellDef="let element"> {{ element.laboratory || '-' }} </td>
    </ng-container>
    <ng-container matColumnDef="expirationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de expiración </th>
      <td mat-cell *matCellDef="let element"> {{ element.expirationDate || '-' }} </td>
    </ng-container>
    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
      <td mat-cell *matCellDef="let element"> {{ element.provider || '-' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
