<form [formGroup]="form" (ngSubmit)="save();">
  <mat-toolbar>
    <label>Usuario</label>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <input type="hidden" formControlName="_id">
      <mat-form-field class="full-line">
        <input matInput placeholder="Nombres" formControlName="firstName">
      </mat-form-field>
      <mat-form-field class="full-line">
        <input matInput placeholder="Apellidos" formControlName="lastName">
      </mat-form-field>
      <mat-form-field class="full-line">
        <input type="email" matInput placeholder="Correo" formControlName="email">
      </mat-form-field>
      <mat-form-field class="full-line">
        <mat-select placeholder="Seleccione un grupo..." (selectionChange)="onGroupChange($event)" formControlName="group">
          <mat-option *ngFor="let group of groupsList" [value]="group._id">
            {{group.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="align-right">
      <button mat-button type="reset" (click)="closeForm()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>

</form>
