<div class="modal-print-container">
  <mat-form-field class="full-line">
    <input matInput placeholder="N&uacute;mero de factura" [(ngModel)]="invoiceNumber" (keypress)="doFindInvoice($event)" autocomplete="off">
    <button matSuffix type="button" mat-icon-button (click)="findInvoice()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <mat-card class="print-preview">
    <mat-card-content>
      <mat-nav-list *ngIf="invoicesList?.length > 1">
        <mat-list-item [ngClass]="{'bg-annulated' : inv.status === 'annulated'}" (click)="selectInvoice(inv.invoiceNumber)" *ngFor="let inv of invoicesList">
          <h4 mat-line>
            <div class="small-date">
              {{ inv.date | date: 'mediumDate' }}
              <b *ngIf="inv.status === 'annulated'" class="color-red"><br>Anulada</b>
            </div>
            {{ inv.invoiceNumber }}
          </h4>
          <p mat-line>{{ inv.client.lastName }} {{ inv.client.firstName }}</p>
        </mat-list-item>
      </mat-nav-list>
      <div class="align-right" *ngIf="invoicesList?.length === 1 && printedInvoice">
         <button *ngIf="printedInvoice.status === 'emited'" type="button" mat-button color="warn" class="pull-left" (click)="invoiceAnnulation()">
          Anular
        </button>
        <button type="button" mat-button (click)="dialogRef.close()">
          Cancelar
        </button>
        <button type="button" mat-raised-button color="accent" (click)="printInvoice()">
          <mat-icon>print</mat-icon> Imprimir
        </button>
      </div>
      <div *ngIf="invoicesList?.length === 1 && printedInvoice" class="invoice-preview">
        <div class="dot-matrix">
          <mat-card>
            <mat-card-content #htmlPrintContent>
              <app-invoice [invoice]="printedInvoice"></app-invoice>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
