.modal-print-container {
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100%;
  grid-row-gap: 10px;
  width: 100%;
}

.print-preview {
  overflow: auto;
  box-sizing: border-box;
  border: solid 1px #e5e5e5;
  background: #ffffff;
}

.small-date {
  float: right;
  color: #333333;
  font-size: 12px;
}

.invoice-preview {
  background: #cccccc;
  padding: 30px;
  box-sizing: border-box;
}

.dot-matrix {
  width: 385px;
  background: #ffffff;
  margin: 0 auto;
  box-sizing: border-box;
}
