<form [formGroup]="form" (ngSubmit)="searchInvoices()">
  <mat-card>
    <mat-card-content>
      <div class="mat-title">
        Reporte de facturas
      </div>
      <mat-toolbar>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Fecha de Inicio"
            formControlName="startDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="pickerend"
            placeholder="Fecha de Fin"
            formControlName="endDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerend"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerend disabled="false"></mat-datepicker>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">
          <mat-icon>search</mat-icon> Consultar
        </button>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>
</form>

<mat-toolbar *ngIf="invoicesDataSource?.data?.length > 0">
  <span class="spacer"></span>
  <button
    type="button"
    mat-raised-button
    color="accent"
    (click)="printReport()"
  >
    <mat-icon>print</mat-icon> Imprimir
  </button>
</mat-toolbar>
<div class="block-container" #reportContent>
  <table
    mat-table
    [dataSource]="invoicesDataSource"
    class="mat-elevation-z1"
    width="100%"
  >
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.item }}</td>
    </ng-container>
    <ng-container matColumnDef="invoiceNumber">
      <th mat-header-cell *matHeaderCellDef>N&uacute;mero de factura</th>
      <td mat-cell *matCellDef="let element">
        <a (click)="showInvoice(element)">{{ element.invoiceNumber }}</a>
        <div class="small-text" *ngIf="element.status === 'annulated'">
          Anulada
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element">
        {{ element.date | date: "medium" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef>Subtotal</th>
      <td mat-cell *matCellDef="let element" align="right">
        {{ element.subtotal | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="disscount">
      <th mat-header-cell *matHeaderCellDef>Descuento</th>
      <td mat-cell *matCellDef="let element" align="right">
        {{ element.disccount | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="iva">
      <th mat-header-cell *matHeaderCellDef>IVA</th>
      <td mat-cell *matCellDef="let element" align="right">
        {{ element.iva | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element" align="right">
        {{ element.total | currency }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      [ngClass]="{ 'bg-annulated': row.status === 'annulated' }"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
  <app-totals-block [invoice]="summary"></app-totals-block>
</div>
