<form [formGroup]="form" (ngSubmit)="search()">
  <mat-card>
    <mat-card-content>
      <div class="mat-title">
        Reporte de Productos Controlados
      </div>
      <mat-toolbar class="gap-5">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha de Inicio" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="pickerend" placeholder="Fecha de Fin" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
          <mat-datepicker #pickerend disabled="false"></mat-datepicker>
        </mat-form-field>
        <div>
          <mat-checkbox formControlName="includeDetail">Ver detalle de movimientos</mat-checkbox>
        </div>
        <button type="submit" mat-raised-button color="primary">
          <mat-icon>search</mat-icon> Consultar
        </button>
      </mat-toolbar>
    </mat-card-content>
  </mat-card>
</form>

<mat-card>
  <mat-card-content>
    <div class="align-right" *ngIf="productsDataSource?.data?.length">
      <button type="button" mat-raised-button color="accent" (click)="print()">
        <mat-icon>print</mat-icon> Imprimir
      </button>
    </div>
    <div #printableContent>
      <div *ngIf="form.value.includeDetail">
        <div *ngFor="let item of productsDataSource.data">
          <div *ngIf="item?.movements?.length > 0">
            <b>{{ item.barcode }} {{ item.name }}</b>
            <table>
              <thead>
                <tr>
                  <th align="center">Tipo</th>
                  <th align="center">Fecha</th>
                  <th align="center"># Documento</th>
                  <th align="center">Motivo</th>
                  <th align="center">Cantidad</th>
                  <th align="center"># Receta</th>
                  <th align="center"># Id. Cliente</th>
                  <th align="center">Paciente</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let movement of item.movements">
                  <td align="center" class="capitalize">{{ movement.movementType.toLowerCase() }}</td>
                  <td align="center">{{ movement.registerDate | date: 'mediumDate' }}</td>
                  <td align="center">{{ movement.documentNumber }}</td>
                  <td align="center">{{ movement.description }}</td>
                  <td align="center">{{ movement.movedQty }}</td>
                  <td align="center">
                    <span [innerHtml]="movement?.movementInfo?.prescription?.number"></span>
                  </td>
                  <td align="center">
                    <span [innerHtml]="movement?.movementInfo?.prescription?.dni"></span>
                  </td>
                  <td align="center">
                    <span [innerHtml]="movement?.movementInfo?.prescription?.pacientName"></span>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="7" align="right">Total</th>
                  <th align="right">{{ item.totalMovements }}</th>
                </tr>
              </tfoot>
            </table>
            <hr>
          </div>
        </div>
      </div>
      <table width="100%" mat-table [dataSource]="productsDataSource" class="mat-elevation-z1 printable" *ngIf="!form.value.includeDetail">
        <ng-container matColumnDef="barcode">
          <th mat-header-cell *matHeaderCellDef> C&oacute;digo </th>
          <td mat-cell *matCellDef="let element" width="50"> {{ element.barcode }} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre producto </th>
          <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>
        <ng-container matColumnDef="restrictedType">
          <th mat-header-cell *matHeaderCellDef> Tipo de producto </th>
          <td mat-cell *matCellDef="let element" width="90"> {{ element.restrictedType }} </td>
        </ng-container>
        <ng-container matColumnDef="pastQty">
          <th mat-header-cell *matHeaderCellDef> Saldo anterior </th>
          <td mat-cell *matCellDef="let element" width="90" align="center"> {{ element.pastQty }} </td>
        </ng-container>
        <ng-container matColumnDef="incomes">
          <th mat-header-cell *matHeaderCellDef> Ingresos </th>
          <td mat-cell *matCellDef="let element" width="90" align="center"> {{ element.incomes }} </td>
        </ng-container>
        <ng-container matColumnDef="outs">
          <th mat-header-cell *matHeaderCellDef> Egresos </th>
          <td mat-cell *matCellDef="let element" width="90" align="center"> {{ element.outs }} </td>
        </ng-container>
        <ng-container matColumnDef="calculated">
          <th mat-header-cell *matHeaderCellDef> Saldo calculado </th>
          <td mat-cell *matCellDef="let element" width="90" align="center">
            <b>{{ element.calculated }}</b>
          </td>
        </ng-container>
        <ng-container matColumnDef="final">
          <th mat-header-cell *matHeaderCellDef> Saldo actual </th>
          <td mat-cell *matCellDef="let element" width="90" align="center">
            <b>{{ element.calculated }}</b>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
