/* variables.scss */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "~@angular/material/theming";

$primaryPalette: mat-palette($mat-indigo, 50);
/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'roboto';
  margin: 0;
}

table {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.full-line {
  width: 100%;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.button-space {
  padding: 12px 2px;
  background: #f5f5f5;
  margin-top: 10px;
}

.block-container {
  margin: 15px 0 10px;
  padding: 15px;
  box-sizing: border-box;
  border: solid 1px #e5e5e5;
  border-radius: 1px;
}

.limit-sheet-width {
  max-width: 1000px;
  margin: 0 auto;
}

.money {
  font-weight: 500px;
  text-align: right;
}

.floating-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.badge-right {
  float: right;
  clear: both;
}

.no-resize {
  resize: none;
}

.flex {
  display: flex;
}

.loading-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
}

.pull-left {
  float: left;
}

.color-red {
  color: #cc3300;
}
.color-blue {
  color: #336699;
}

.color-green {
  color: green;
}

.bg-annulated {
  background-color: rgba(204, 51, 0, 0.2);
}

.small-text {
  color: #909090;
  font-size: 12px;
}

.capitalize {
  text-transform: capitalize;
}

.mat-header-cell {
  background-color: mat-color($primaryPalette, 400);
  color: #ffffff;
  border-right: solid 1px rgba(255, 255, 255, 0.4);
  padding-left: 8px !important;
  box-sizing: border-box;
}

.mat-cell {
  border-right: solid 1px rgba(0, 0, 0, 0.12);
  padding-left: 8px !important;
  box-sizing: border-box;
}

// .mat-row:nth-child(even) {
//   background-color: mat-color($primaryPalette);
// }

// .mat-row:nth-child(odd) {
//   background-color: #ffffff;
// }
@media print {
  .no-print {
    display: none !important;
  }
}
