<form [formGroup]="form" (ngSubmit)="save();">
  <mat-toolbar>
    <label>Cambio de clave de usuario</label>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <input type="hidden" formControlName="_id">
      <mat-form-field class="full-line">
        <input matInput type="password" placeholder="Nueva clave" formControlName="password">
      </mat-form-field>
      <mat-form-field class="full-line">
        <input matInput type="password" placeholder="Confirmar la clave" formControlName="confirmPassword">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="align-right">
      <button mat-button type="reset" (click)="closeForm()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Cambiar clave</button>
    </mat-card-actions>
  </mat-card>

</form>
