.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.main-navigation {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.version-information {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.sub-info {
  font-size: 8px;
  color: #333333;
}
