<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <img src="../../assets/img/pildora.png" alt="=" style="max-width:24px;margin-right: 8px;"> Menu
    </mat-toolbar>
    <mat-nav-list>
      <a *appPerms="'dashboard'" mat-list-item routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a>
      <a *appPerms="'configuration'" mat-list-item routerLink="/configuration"><mat-icon>settings</mat-icon> Configuraci&oacute;n</a>
      <a *appPerms="'invoice'" mat-list-item routerLink="/invoice"><mat-icon>monetization_on</mat-icon> Facturaci&oacute;n</a>
    </mat-nav-list>
    <div class="version-information small-text" (click)="getVersionInformation()">
      Last commit: {{ configuration.commit }} <br>
      <span class="sub-info">{{ configuration.hash }}</span>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="!(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div style="flex: 1 1 auto;"></div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>face</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div class="main-navigation">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
