<div [ngClass]="{'small-form': smallView}">
  <div class="two-lines">
    <mat-form-field>
      <input [disabled]="client._id !== ''" matInput placeholder="N&uacute;mero de Identificaci&oacute;n" [(ngModel)]="client.dni">
    </mat-form-field>
  </div>
  <div class="two-lines">
    <mat-form-field>
      <input matInput placeholder="Apellidos" [(ngModel)]="client.lastName">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nombres" [(ngModel)]="client.firstName">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-line">
      <input matInput placeholder="Direcci&oacute;n" [(ngModel)]="client.address">
    </mat-form-field>
  </div>
  <div class="two-lines">
    <mat-form-field>
      <input matInput placeholder="Tel&eacute;fono" [(ngModel)]="client.telephone">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Direcci&oacute;n de correo electr&oacute;nico" [(ngModel)]="client.email">
    </mat-form-field>
  </div>
  <div class="button-space align-right" *ngIf="showActionButtons">
    <button type="button" mat-button (click)="emitButtonAction('cancel')">
      Cancelar
    </button>
    <button type="button" mat-raised-button color="primary" (click)="emitButtonAction('save')">
      Guardar
    </button>
  </div>
</div>
