<app-loading-bar [show]="loading"></app-loading-bar>
<mat-toolbar>
  <div layout="row">
    <h1 class="mat-title">Productos</h1>
  </div>
  <span class="spacer"></span>
  <button type="button" mat-raised-button color="primary" (click)="listProducts();" [disabled]="loading">
    <mat-icon>refresh</mat-icon> Cargar productos
  </button>
  <button type="button" mat-icon-button (click)="printReport();" matTooltip="Imprimir lista de productos" [disabled]="productDataSource.data.length <= 0">
    <mat-icon>print</mat-icon>
  </button>
  <button type="button" mat-icon-button (click)="downloadXls();" matTooltip="Descargar archivo de actualización de productos">
    <mat-icon>cloud_download</mat-icon>
  </button>
  <button *appPerms="'configuration.general.products.add'" type="button" mat-icon-button (click)="formUploadView.reset();fileButton.click();" matTooltip="Cargar listado de productos actualizado">
    <mat-icon>cloud_upload</mat-icon>
  </button>
  <mat-form-field>
    <input [(ngModel)]="filterText" matInput placeholder="Buscar..." (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
  <button type="button" mat-icon-button (click)="openForm('');" *appPerms="'configuration.general.products.add'">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div #reportContent>
  <table mat-table [dataSource]="productDataSource" class="mat-elevation-z1" matSort>

    <ng-container matColumnDef="barcode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> C&oacute;digo de barras </th>
      <td mat-cell *matCellDef="let element"> {{ element.barcode }} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
      <td mat-cell *matCellDef="let element"> <span *ngIf="element.restricted">(**)</span> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="laboratory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Laboratorio </th>
      <td mat-cell *matCellDef="let element"> {{ element.laboratory }} </td>
    </ng-container>
    <ng-container matColumnDef="expiration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fechas de Expiraci&oacute;n </th>
      <td mat-cell *matCellDef="let element">
        <div *ngFor="let ex of element?.expiration">
          Expira: {{ ex.expirationDate | date: 'MMM dd, yyyy' }}, Lote: {{ ex.lote }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center"> PVP </th>
      <td mat-cell *matCellDef="let element" align="right" class="pad-right"> {{ element.price | currency }} </td>
    </ng-container>
    <ng-container matColumnDef="priceDisscount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center"> PVP /Desc. </th>
      <td mat-cell *matCellDef="let element" align="right" class="pad-right">
        <span *ngIf="element.priceDisscount" class="color-blue">{{ element.priceDisscount | currency }}</span>
        <span *ngIf="!element.priceDisscount" class="color-red">{{ element.price | currency }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="unitMinimumAlert">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center"> M&iacute;nimo </th>
      <td mat-cell *matCellDef="let element" align="center" [ngClass]="{'warn-minimum': element.totalUnits <= element.unitMinimumAlert }"> {{ element.unitMinimumAlert }} </td>
    </ng-container>
    <ng-container matColumnDef="boxes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-center"> Stock </th>
      <td mat-cell *matCellDef="let element"> {{ element.boxes }}c <span *ngIf="element.quantityPerBox > 1">/ {{ element.units }}u</span> </td>
    </ng-container>

    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef width="40"></th>
      <td mat-cell *matCellDef="let element">
        <ng-container *appPerms="'configuration.general.products.edit'">
          <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="element._id" class="no-print">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editProduct(element)" *appPerms="'configuration.general.products.edit'">
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="deleteProduct(element._id)" *appPerms="'configuration.general.products.delete'">
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[50, 100, 500, 1000]" pageSize="100"></mat-paginator>
<div class="block-container">
   (**) Medicamento requiere receta m&eacute;dica
</div>
<form [formGroup]="uploadForm" #formUploadView (ngSubmit)="uploadFileToServer()" enctype="multipart/form-data">
  <input [style.display]="'none'" #fileButton (change)="checkFileSelected($event)" type="file" name="file">
  <button mat-raised-button [style.display]="'none'" (click)="fileButton.click()" type="button">Seleccionar archivo</button>
  <input #submitButton type="submit" value="Cargar" [style.display]="'none'">
</form>
