<mat-toolbar color="accent">
  <button *appPerms="'configuration.dashboard'" mat-icon-button routerLink="/dashboard">
    <mat-icon>dashboard</mat-icon>
  </button>
  <button *appPerms="'configuration.general'" mat-button [matMenuTriggerFor]="menu">General</button>
  <button *appPerms="'configuration.movements'" mat-button [matMenuTriggerFor]="movementsMenu">Movimientos</button>
  <button *appPerms="'configuration.reports'" mat-button [matMenuTriggerFor]="reportsMenu">Reportes</button>
  <button *appPerms="'configuration.users'" mat-button [matMenuTriggerFor]="groupsMenu">Seguridad</button>
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item routerLink="/configuration/companies">Compan&iacute;a</button> -->
    <button *appPerms="'configuration.general.laboratories'" mat-menu-item routerLink="/configuration/laboratories">Laboratorios</button>
    <button *appPerms="'configuration.general.products'" mat-menu-item routerLink="/configuration/products">Productos</button>
  </mat-menu>
  <mat-menu #movementsMenu="matMenu">
    <button *appPerms="'configuration.movements.list'" mat-menu-item routerLink="/configuration/inventory/list">Lista de movimientos</button>
    <button *appPerms="'configuration.movements.register'" mat-menu-item routerLink="/configuration/inventory">Registrar movimiento</button>
  </mat-menu>
  <mat-menu #reportsMenu="matMenu">
    <button *appPerms="'configuration.reports.invoices'" mat-menu-item routerLink="/configuration/invoices-report">Reporte de facturas</button>
    <button *appPerms="'configuration.reports.kardex'" mat-menu-item routerLink="/configuration/kardex">Kardex de productos</button>
    <button *appPerms="'configuration.reports.controlled'" mat-menu-item routerLink="/configuration/controlados">Productos controlados</button>
    <button *appPerms="'configuration.reports.expired'" mat-menu-item routerLink="/configuration/expirados">Reporte de caducidades</button>
  </mat-menu>
  <mat-menu #groupsMenu="matMenu">
    <button *appPerms="'configuration.users.groups'" mat-menu-item routerLink="/configuration/groups">Grupos</button>
    <button *appPerms="'configuration.users.users'" mat-menu-item routerLink="/configuration/users">Usuarios</button>
    <button *appPerms="'configuration.users.log'" mat-menu-item routerLink="/configuration/logs">Bitacora</button>
  </mat-menu>

</mat-toolbar>
<br>
<router-outlet></router-outlet>
