<div *ngIf="viewNewClientForm === true">
  <div>
    <button type="button" mat-icon-button (click)="cleanClientForm()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <br>
  <div class="mat-title">Nuevo cliente</div>
  <br>
  <app-new-client-form
    [showActionButtons]="true"
    [entryClient]="editedClient"
    (buttonClicked)="clientFormButtonClick($event)"
  ></app-new-client-form>
</div>
<div class="selector-container" *ngIf="viewNewClientForm === false">

  <mat-form-field class="full-line">
    <input type="text" matInput placeholder="Buscar clientes..."
      (keypress)="doSearch($event)"
      autocomplete="off"
      [(ngModel)]="searchInput"
    >
    <button type="button" mat-icon-button matSuffix (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <div class="grid-client-list">
    <div class="table-container">
      <table mat-table [dataSource]="clientsDataSource">
        <ng-container matColumnDef="dni">
          <th mat-header-cell *matHeaderCellDef> C&eacute;dula </th>
          <td mat-cell *matCellDef="let client"> {{ client.dni }} </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Cliente </th>
          <td mat-cell *matCellDef="let client"> {{ client.lastName }} {{ client.firstName }} </td>
        </ng-container>
        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef> Tel&eacute;fono </th>
          <td mat-cell *matCellDef="let client"> {{ client.telephone }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="toggleSelection(row)"
          (dblclick)="useClient(row)"
          [ngClass]="{'active-row': row._id === selectedClient}"
        ></tr>
      </table>
    </div>
    <div class="lateral-button-container">
      <button type="button" mat-raised-button color="primary" [disabled]="selectedClient === ''" (click)="selectCurrentClient()">
        Seleccionar
      </button>
      <button *appPerms="'invoice.newClient'" type="button" mat-button (click)="newClient(true)" [disabled]="selectedClient !== ''">
        Crear nuevo
      </button>
      <button *appPerms="'invoice.editClient'" type="button" mat-button (click)="editClient()" [disabled]="selectedClient === ''">
        Editar cliente
      </button>
      <button type="button" mat-button (click)="closeSelectorModal()">
        Cancelar
      </button>
    </div>
  </div>

</div>
