.selector-container {
  box-sizing: border-box;
  height: 100%;
}

.grid-client-list {
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-column-gap: 15px;
  height: calc(100% - 80px);
}
.lateral-button-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-template-rows: repeat(4, 42px);
}

.table-container {
  border: solid 1px #e5e5e5;
  height: calc(100% - 10px);
  overflow: auto;
}

.active-row {
  font-weight: bold;
  background: #f5f5f5;
}
