<div class="top-bar-menu-permission">
  <h3>Permisos</h3>
  <button type="button" mat-raised-button color="primary" (click)="savePermissions()">
    Guardar
  </button>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <mat-checkbox (change)="updatePermission($event, node.key)" color="primary" [(ngModel)]="menuDefinition[node.key]"></mat-checkbox>&nbsp;
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox (change)="updatePermission($event, node.key)" color="primary" [(ngModel)]="menuDefinition[node.key]"></mat-checkbox>&nbsp;
    {{node.name}}
  </mat-tree-node>
</mat-tree>
