<div class="invoice-overlay" *ngIf="emiting"></div>
<section #clientSection class="floating-client-selector mat-elevation-z2" *ngIf="emiting">
  <div class="two-block-container">
    <div>
      <app-client-selector (clientSelected)="fillClientData($event)"></app-client-selector>
      <div class="block-container">
        <div class="">Datos del cliente</div>
        <hr>
        <app-new-client-form [smallView]="meddicalPrescriptionRequired" [showActionButtons]="false" [entryClient]="clientSelected"></app-new-client-form>
        <hr>
        <div *ngIf="meddicalPrescriptionRequired" class="warning-prescription">
          <mat-form-field class="full-line">
            <input type="text" matInput [(ngModel)]="invoice.prescription.number" placeholder="N&uacute;mero de receta m&eacute;dica" autocomplete="off">
          </mat-form-field>
          <mat-form-field class="full-line">
            <input type="text" matInput [(ngModel)]="invoice.prescription.dni" placeholder="N&uacute;mero de c&eacute;dula del paciente o persona que realiza la compra" autocomplete="off">
          </mat-form-field>
          <mat-form-field class="full-line">
            <input type="text" matInput [(ngModel)]="invoice.prescription.pacientName" placeholder="Nombre del paciente" autocomplete="off">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="button-block">
      <button type="button" mat-raised-button color="primary" (click)="saveInvoice()">
        Emitir
      </button>
      <button type="button" mat-raised-button (click)="cleanClient();">
        Sin datos
      </button>
      <button type="button" mat-button (click)="emiting = false">
        Cancelar
      </button>
    </div>
  </div>
  <app-totals-block [invoice]="invoice"></app-totals-block>
</section>
<mat-toolbar>
  <button type="button" mat-button (click)="cleanInvoice()">
    <mat-icon>local_atm</mat-icon> Nueva factura
  </button>
  <button type="button" mat-button (click)="doPrint('')">
    <mat-icon>search</mat-icon> Buscar facturas
  </button>
  <button *appPerms="'configuration.reports.invoices'" type="button" mat-button [routerLink]="['/invoices-report']">
    <mat-icon>description</mat-icon> Reporte de facturas
  </button>
  <span class="spacer"></span>
  <button type="button" mat-raised-button color="accent" (click)="emitInvoice()" [disabled]="productsDataSource.data.length <=0">
    <mat-icon>save</mat-icon> Guardar
  </button>
</mat-toolbar>
<br>
<mat-card class="limit-sheet-width">
  <mat-card-header class="flex">
    <div class="mat-title">Factura</div>
    <span class="spacer">
      <div class="badge-right">
        <mat-checkbox color="primary" [(ngModel)]="invoice.disscountApplied" (change)="calculateTotals()">Aplicar descuento</mat-checkbox>
      </div>
    </span>
  </mat-card-header>
  <mat-card-content>
    <section class="invoice-product-list">
      <app-product-selector
        [restrictInventotyControl]="true"
        [hasDisscount]="invoice.disscountApplied"
        [editedProduct]="editedProduct"
        (afterProductSelected)="addProductItem($event)"></app-product-selector>
      <table mat-table [dataSource]="productsDataSource">
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef width="50"> </th>
          <td mat-cell *matCellDef="let element" class="align-center">
            <button type="button" mat-icon-button (click)="removeProduct(element._id)">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Producto </th>
          <td mat-cell *matCellDef="let element">
            <div class="flex">
              {{ element.name }}
              <span class="spacer"></span>
              <mat-icon *ngIf="element.restricted" color="warn" matTooltip="Este medicamento requiere receta m&eacute;dica">warning</mat-icon>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="boxes">
          <th mat-header-cell *matHeaderCellDef width="70" align="center"> Cajas </th>
          <td mat-cell *matCellDef="let element" align="center"> {{ element.boxes }} </td>
        </ng-container>
        <ng-container matColumnDef="units">
          <th mat-header-cell *matHeaderCellDef width="70" align="center"> Unidades </th>
          <td mat-cell *matCellDef="let element" align="center"> {{ element.units }} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef width="70" align="right"> PVU </th>
          <td mat-cell *matCellDef="let element" align="center">
            <span *ngIf="invoice.disscountApplied === true">{{ element.unit_price_disscount | currency }}</span>
            <span *ngIf="invoice.disscountApplied === false">{{ element.unit_price | currency }}</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="subtotal">
          <th mat-header-cell *matHeaderCellDef width="70" align="right"> PVP </th>
          <td mat-cell *matCellDef="let element" align="center">
            <span *ngIf="invoice.disscountApplied === true">{{ element.subtotal_disscount | currency }}</span>
            <span *ngIf="invoice.disscountApplied === false">{{ element.subtotal | currency }}</span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (dblclick)="editCurrentProduct(row);" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </section>
    <app-totals-block [invoice]="invoice"></app-totals-block>
    <div class="align-right">
      <button type="button" mat-raised-button color="accent" (click)="emitInvoice()" [disabled]="productsDataSource.data.length <= 0">
        <mat-icon>save</mat-icon> Guardar
      </button>
    </div>
  </mat-card-content>
</mat-card>
<br>
<br>&nbsp;
