:host {
  position: relative;
}

.invoice-product-list {
  height: 450px;
  overflow: auto;
  margin-bottom: 30px;
  border: solid 1px #e5e5e5;
}

.floating-client-selector {
  position: absolute;
  background: #fff;
  z-index: 5;
  top: 10px;
  transform: translateX(-50%);
  width: 80%;
  left: 50%;
  padding: 8px;
}
.invoice-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

.two-block-container {
  display: grid;
  grid-template-columns: 1fr 120px;
}

.button-block {
  display: grid;
  grid-template-rows: 50px 50px 50px;
  padding: 15px 0px;
  grid-row-gap: 10px;
}

.warning-prescription {
  border: solid 1px #ff9900;
  background-color: #dab988;
  width: 100%;
  padding: 8px;
}
