// .details {
//   padding: 8px 16px;
// }
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20000;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para efecto de elevación */
  margin-bottom: 20px;
}

thead {
  background-color: #f5f5f5; /* Color de fondo de cabecera */
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd; /* Bordes de celdas */
}

th {
  font-weight: 600; /* Texto más pesado para encabezados */
  color: #333; /* Color de texto en encabezados */
}

tr {
  transition: background-color 0.3s; /* Transición para efecto hover */
}

tr:hover {
  background-color: #f1f1f1; /* Color de fondo al pasar el mouse */
}

.details-row {
  background-color: #f9f9f9; /* Color de fondo de las filas de detalle */
}

.details {
  margin-top: 10px;
}

.details table {
  width: 100%;
  border-collapse: collapse; /* Colapsar bordes en la subtabla */
}

.details th, .details td {
  border: none; /* Sin bordes en la subtabla */
  padding: 4px;
}

.details th {
  background-color: #f5f5f5; /* Color de fondo de cabecera de subtabla */
}

.text-red {
  color: red; /* Color rojo para fechas expiradas */
}

.text-orange {
  color: tomato; /* Color tomate para fechas cercanas a expirar */
}

.text-green {
  color: green; /* Color verde para fechas seguras */
}

.table-super-thick {
  border-collapse: collapse;
  width: 100%;
}

.table-super-thick th {
  font-weight: 500;
}

.table-super-thick td {
  font-weight: 400;
}

.table-super-thick th, .table-super-thick td {
  border: 1px solid #807e7e;
}
