<div class="loading-container" *ngIf="loading">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<mat-card>
  <mat-card-content>
    <div class="container">
      <mat-toolbar>
        <span>Reporte de productos por expirar</span>
      </mat-toolbar>

      <div class="search-bar">
        <mat-form-field>
          <input matInput placeholder="Filtrar por producto..." [formControl]="searchControl">
        </mat-form-field>
        <button type="button" mat-raised-button color="primary" (click)="listProducts()" [disabled]="loading">
          <mat-icon>search</mat-icon> Cargar reporte
        </button>
        &nbsp;
        <button type="button" mat-raised-button color="default" (click)="printReport()" [disabled]="loading || this.filteredProducts.data.length <= 0">
          <mat-icon>print</mat-icon> Imprimir
        </button>
      </div>

      <div class="detailed-table" #reportContent>
        <table border="1" cellpadding="0" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Código de Barras</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let product of this.filteredProducts.data">
              <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.barcode }}</td>
                <td>{{ product.price | currency }}</td>
              </tr>
              <tr class="details-row">
                <td colspan="3">
                  <div class="details">
                    <table border="1" cellpadding="0" cellspacing="0" width="100%" class="table-super-thick">
                      <thead>
                        <tr>
                          <th>Tipo</th>
                          <th>Fecha</th>
                          <th>Número</th>
                          <th>Usuario</th>
                          <th>Cantidad</th>
                          <th>Lote</th>
                          <th>Laboratorio</th>
                          <th>Fecha de Caducidad</th>
                          <th>Proveedor</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let detail of product.details">
                          <td>{{ detail.movementType.toUpperCase() }}</td>
                          <td>{{ detail.movement.creationDate | date: 'medium' }}</td>
                          <td>{{ detail.movement.movementCode }}</td>
                          <td>{{ detail.movement.userId }}</td>
                          <td>{{ detail.boxes }}c{{detail.units}}u</td>
                          <td>{{ detail.lote }}</td>
                          <td>{{ detail.laboratory }}</td>
                          <td [ngClass]="{
                            'text-red': isExpired(detail.expirationDate),
                            'text-orange': isNearExpiry(detail.expirationDate),
                            'text-green': isSafe(detail.expirationDate)
                          }">{{ detail.expirationDate | date }}</td>
                          <td>{{ detail.provider }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
