<h1 mat-dialog-title>Editar Lote</h1>
<div mat-dialog-content>
  <form [formGroup]="editLotForm">
    <mat-form-field class="full-line">
      <mat-label>Lote</mat-label>
      <input matInput formControlName="lote" />
    </mat-form-field>
    <mat-form-field class="full-line">
      <mat-label>Laboratorio</mat-label>
      <mat-select placeholder="Laboratorio" formControlName="laboratory">
        <mat-option *ngFor="let laboratory of laboratories" [value]="laboratory._id">
          {{ laboratory.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fecha de Expiración</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Fecha de expiración" formControlName="expirationDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="full-line">
      <mat-label>Proveedor</mat-label>
      <input matInput formControlName="provider" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions style="display: flex;gap: 16px;justify-content: flex-end;;">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" cdkFocusInitial>Actualizar</button>
</div>
