<pre #invoiceContent style="white-space: pre-line;"></pre>
<!-- <pre style="white-space: pre-line;">
  FARMASALUD
  DIRECCION: SAN JOSE Y AV. CORDOVA
  GALARZA
  QUITO - ECUADOR
  RUC: 1716713035001
  FACTURA No: {{ invoice.invoiceNumber }}

  <table width="350px" cellpadding="2" cellspacing="2">
    <thead>
      <tr>
        <th align="left">Descripción</th>
        <th align="center">Cant.</th>
        <th align="right">Pre.Uni</th>
        <th aign="right">Pre.Tot</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of invoice.products">
        <td>
          <span *ngIf="product.restricted">*</span>
          {{ product.name | slice:0:25 }}
        </td>
        <td align="center">{{ product.boxes }}c {{ product.units }}u</td>
        <td align="right">{{ product.unit_price | currency }}</td>
        <td align="right">{{ product.subtotal | currency }}</td>
      </tr>
    </tbody>
  </table>
  --------------------------------------
  <table width="350px" cellpadding="2" cellspacing="2">
    <tr>
      <td width="300px">Subtotal :</td>
      <td>{{ invoice.subtotal | currency }}</td>
    </tr>
    <tr>
      <td>Descuento:</td>
      <td>{{ invoice.disscount | currency }}</td>
    </tr>
    <tr>
      <td>IVAL ({{ invoice.iva_pct }}%) :</td>
      <td>{{ invoice.iva | currency }}</td>
    </tr>
    <tr>
      <td>Total:</td>
      <td>{{ invoice.total | currency }}</td>
    </tr>
  </table>
   --------------------------------------

  Cliente: {{ invoice.client.lastName }} {{ invoice.client.firstName }}
  CED/RUC: {{ invoice.client.dni }}
  Fecha de emisión: {{ invoice.date | date: 'medium' }}

</pre> -->
