<mat-toolbar>
  <div layout="row">
    <h1 class="mat-title">Usuarios</h1>
  </div>
  <span class="spacer"></span>
  <button type="button" mat-icon-button (click)="list()">
    <mat-icon>refresh</mat-icon>
  </button>
  <mat-form-field>
    <input #filterText matInput placeholder="Buscar..." (keyup)="applyFilter()">
  </mat-form-field>
  <button type="button" mat-icon-button (click)="openForm({});">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<table mat-table [dataSource]="usersDataSource" class="mat-elevation-z1">

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let element">
      {{ element.email }}
    </td>
  </ng-container>
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Nombres </th>
    <td mat-cell *matCellDef="let element">
      {{ element.firstName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
    <td mat-cell *matCellDef="let element">
      {{ element.lastName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="group">
    <th mat-header-cell *matHeaderCellDef> Grupo </th>
    <td mat-cell *matCellDef="let element">
      {{ element.groupName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef width="40"></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="element._id">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openForm(element)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="openChangePasswordForm(element)">
          <mat-icon>lock</mat-icon>
          <span>Cambiar clave</span>
        </button>
        <button mat-menu-item (click)="delete(element._id)">
          <mat-icon>cancel</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
