.product-selector-container {
  background: rgba(141, 210, 108, 0.2);
  position: relative;
}

.floating-label-title {
  position: absolute;
  top: 3px;
  left: 3px;
  color: rgba(0,0,0,.54);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 100px 100px 40px 60px;
  align-items: center;
  grid-column-gap: 8px;
}
