<mat-card class="product-selector-container">
  <small class="floating-label-title">
    Selecci&oacute;n de productos
  </small>
  <mat-card-content class="grid-container">
    <mat-form-field class="full-line">
      <input type="hidden" [(ngModel)]="product._id" />
      <input
        #productTextInput
        matInput
        placeholder="Buscar productos..."
        (keyup)="$event.preventDefault(); launchFinder($event)"
        [(ngModel)]="product.name"
      />
      <mat-hint *ngIf="product._id">
        <mat-icon>arrow_forward</mat-icon> Stock actual
      </mat-hint>
      <button
        mat-icon-button
        matSuffix
        (click)="openFinder()"
        type="button"
        tabindex="-1"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="full-line align-center">
      <input
        #boxField
        matInput
        placeholder="Cajas."
        autocomplete="off"
        [(ngModel)]="product.boxes"
        type="number"
        (keypress)="onlyNumbers($event)"
        (blur)="makePositive('boxes')"
        (keyup)="previewSubtotalValue()"
      />
      <mat-hint>{{ product.inventoryBoxes }}</mat-hint>
    </mat-form-field>
    <mat-form-field class="full-line align-center">
      <input
        [readonly]="product.quantityPerBox === 1"
        matInput
        placeholder="Unidades."
        autocomplete="off"
        [(ngModel)]="product.units"
        type="number"
        (keypress)="onlyNumbers($event)"
        (blur)="makePositive('units')"
        (keyup)="previewSubtotalValue()"
      />
      <mat-hint>{{ product.inventoryUnits }}</mat-hint>
    </mat-form-field>
    <div>
      {{ subtotalPreview | currency }}
    </div>
    <button mat-icon-button type="button" (click)="addProduct()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
