<form [formGroup]="uploadForm" (ngSubmit)="uploadFileToServer()" enctype="multipart/form-data">
  <input [style.display]="'none'" #fileButton (change)="checkFileSelected($event)" type="file" name="file">
  <button mat-raised-button (click)="fileButton.click()" type="button">Seleccionar archivo</button>
  <input #submitButton type="submit" value="Cargar" [style.display]="'none'">
  <button *ngIf="xlsData.length > 0" type="button" mat-raised-button (click)="processData()">Actualizar vista de productos</button>
  <button [disabled]="processButtonDisabled" *ngIf="xlsData.length > 0" color="primary" type="button" mat-raised-button (click)="retreiveData()">Procesar</button>
</form>
<section class="block-container table-preview">
  <table mat-table [dataSource]="productsDataSource" class="mat-elevation-z1">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef>
        {{ columnTitles[column] }}
        <mat-form-field class="full-line">
          <mat-select placeholder="{{ columnTitles[column] }}" (selectionChange)="refreshDataLoaded($event, column)">
            <mat-option *ngFor="let food of columnsFound" [value]="food">
              {{food}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
