<div class="mat-title">{{ title }}</div>
<div class="mat-dialog1">{{ text }}</div>
<br>
<br>
<div class="align-right">
  <button mat-button (click)="closeConfirm(false)" *ngIf="cancelButton === true">
    Cancelar
  </button>
  <button mat-raised-button color="primary" (click)="closeConfirm(true)">
    Aceptar
  </button>
</div>
