<form [formGroup]="form" (ngSubmit)="updateProduct()">
  <mat-tab-group>
    <mat-tab label="General">
      <br>
      <mat-form-field class="full-line">
        <input type="hidden" formControlName="_id">
        <input matInput type="text" formControlName="barcode" placeholder="C&oacute;digo de barras">
      </mat-form-field>
      <mat-form-field class="full-line">
        <input matInput type="text" formControlName="name" placeholder="Nombre del producto">
      </mat-form-field>
      <mat-form-field class="full-line">
        <mat-select placeholder="Laboratorio" formControlName="laboratory">
          <mat-option *ngFor="let laboratory of laboratories" [value]="laboratory._id">
            {{ laboratory.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="full-line">
        <mat-checkbox formControlName="restricted">Es un producto que requiere receta m&eacute;dica</mat-checkbox>
      </div>
      <mat-form-field class="full-line">
        <mat-select placeholder="Seleccione si son precursores, psicotr&oacute;picos o estupefacientes (Si aplica)" formControlName="restrictedType">
          <mat-option *ngFor="let psicoType of psicoTypes" [value]="psicoType.value">
            {{ psicoType.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Valores">
      <br>
      <mat-form-field class="full-line">
        <input matInput type="number" formControlName="price" placeholder="Precio de venta al p&uacute;blico">
      </mat-form-field>
      <mat-form-field class="full-line">
        <input matInput type="number" formControlName="priceDisscount" placeholder="Precio de venta con DESCUENTO al p&uacute;blico">
      </mat-form-field>
      <div class="full-line">
        <mat-checkbox formControlName="payIva">Este producto paga IVA</mat-checkbox>
      </div>
      <mat-form-field class="full-line">
        <input matInput type="number" formControlName="quantityPerBox" placeholder="N&uacute;mero de unidades por caja">
      </mat-form-field>
      <mat-form-field class="full-line">
        <input matInput type="number" formControlName="unitMinimumAlert" placeholder="Alertar cuando llegue a este m&iacute;nimo">
      </mat-form-field>
    </mat-tab>
    <mat-tab label="Informaci&oacute;n">
      <br>
      <mat-form-field class="full-line">
        <textarea matInput formControlName="description" placeholder="Principio activo"></textarea>
      </mat-form-field>
      <mat-form-field class="full-line">
        <textarea matInput formControlName="prescription" placeholder="Prescripci&oacute;n"></textarea>
      </mat-form-field>
      <mat-form-field class="full-line">
        <textarea matInput formControlName="dosis" placeholder="Dosificaci&oacute;n"></textarea>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>
  <div class="block-container align-right">
    <button type="reset" mat-button (click)="dialogRef.close(false)">Cancelar</button>
    <button type="submit" mat-raised-button color="primary">Actualizar</button>
  </div>
</form>
