<mat-card>
  <mat-card-content>
    <table width="100%">
      <tr>
        <th>Total factura:</th>
        <td align="right">{{ totalAmount | currency }}</td>
      </tr>
      <tr>
        <th>
          Pago:
        </th>
        <td>
          <mat-form-field class="full-line value-align-center">
            <input type="number" class="align-right" matInput [(ngModel)]="payment" (keyup)="calculateChange($event)">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <th>
          Cambio:
        </th>
        <td align="right">
          <span class="error-value" *ngIf="!correctChange">Falta</span>
          <b class="mat-title" *ngIf="correctChange">{{ changeAmount | currency }}</b>
        </td>
      </tr>
    </table>
    <br>
    <div class="align-center">
      <button type="button" mat-raised-button color="primary" (click)="closeCalculator()">
        Continuar
      </button>
    </div>
  </mat-card-content>
</mat-card>
