<mat-card class="client-selector-container">
  <mat-card-content>
    <mat-form-field class="full-line">
      <input type="text" matInput placeholder="Buscar clientes..." autocomplete="off"
        (keypress)="doClientSearch($event)"
        [(ngModel)]="client.searchText"
      >
      <button type="button" mat-icon-button matSuffix (click)="clientSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
</mat-card>
