<div class="modal-password-modal-container">
  <h3>Ingrese su clave para continuar el proceso</h3>
  <p>Para continuar el proceso de egreso de productos, debe ingresar su clave.</p>
  <mat-form-field>
    <input matInput type="password" placeholder="Ingrese su clave" [(ngModel)]="password" (keyup)="onEnter($event)">
  </mat-form-field>
  <div>
    <button type="button" color="primary" mat-raised-button (click)="validatePassword(true)">Continuar</button>
    <button type="button" color="default" mat-button (click)="validatePassword(false)">Cancelar</button>
  </div>
</div>
