<section class="block-container">
  <div class="subtotal-infotmation">
    <div class="align-right" *ngIf="invoice.disscount">Subtotal</div>
    <span class="money" *ngIf="invoice.disscount">{{ (invoice.subtotal + invoice.disscount) | currency }}</span>
    <div class="align-right">Subtotal con descuento</div>
    <span class="money">{{ invoice.subtotal | currency }}</span>
    <div class="align-right">Descuento</div>
    <span class="money">{{ (invoice.disscount || 0) | currency }}</span>
    <div class="align-right">IVA ({{ invoice.iva_pct }}%)</div>
    <span class="money">{{ invoice.iva | currency }}</span>
    <div class="align-right">Total</div>
    <b class="money total-value">{{ (invoice.total || 0) | currency }}</b>
  </div>
</section>
