<mat-toolbar>
  <div layout="row">
    <h1 class="mat-title">Empresas</h1>
  </div>
  <span class="spacer"></span>
  <button type="button" mat-icon-button (click)="listCompanies();">
    <mat-icon>refresh</mat-icon>
  </button>
  <mat-form-field>
    <input matInput placeholder="Buscar..." (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
  <button type="button" mat-icon-button (click)="openForm('');">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<table mat-table [dataSource]="companyDataSource" class="mat-elevation-z1">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Empresa </th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Direcci&oacute;n </th>
    <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
  </ng-container>

  <ng-container matColumnDef="telephone">
    <th mat-header-cell *matHeaderCellDef> Tel&eacute;fono </th>
    <td mat-cell *matCellDef="let element"> {{ element.telephone }} </td>
  </ng-container>

  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef width="40"></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="element._id">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openForm(element._id, element)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item (click)="deleteCompany(element._id)">
          <mat-icon>cancel</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
