<form [formGroup]="form" (ngSubmit)="save();">
  <mat-toolbar>
    <label>Grupo</label>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <input type="hidden" formControlName="_id">
      <mat-form-field class="full-line">
        <input matInput placeholder="Nombre del grupo" formControlName="name">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="align-right">
      <button mat-button type="reset" (click)="closeForm()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>

</form>
