:host {
  position: relative;
}

.main-selector-list {
  position: relative;
  height: calc(100% - 70px);
}

.grid-list {
  display: grid;
  grid-template-columns: 1fr 120px;
  grid-column-gap: 15px;
  align-items: stretch;
  height: calc(100% - 7px);
  position: relative;
}

.product-list {
  border: solid 1px #e5e5e5;
  overflow: auto;
}

tr.product-items:hover {
  background: #f5f5f5;
}

tr.active-row {
  background: #f5f5f5;
  font-weight: bold;
}

.info-sidenav {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
  z-index: 10;
  transition: all 0.2s;
}

.active-cell-info {
  background: rgba(160, 255, 64, 0.2);
}

.product-information-card {
  height: calc(100% - 70px);
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}
