<section *ngIf="newProductForm">
  <button type="button" mat-icon-button (click)="createProduct();">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <app-new-product-form [entryProductBarcode]="entryProduct" (productSaved)="processSavedNewProduct($event)"></app-new-product-form>
</section>

<div *ngIf="!newProductForm">
  <mat-form-field class="full-line">
    <input #inputSearch matInput type="text" placeholder="Escriba el nombre, codigo o datos del producto" [(ngModel)]="productName"
      (keyup)="startSearch($event)" autocomplete="off">
    <button mat-button *ngIf="productName" matSuffix mat-icon-button aria-label="Limpiar" (click)="productName=''; searchProducts();">
      <mat-icon>close</mat-icon>
    </button>
    <button matSuffix mat-icon-button (click)="searchProducts()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
  <small>Productos con * en el precio pagan IVA</small>
</div>

<div class="main-selector-list">
  <div #productSidenavRight class="info-sidenav">
    <button matTooltip="Cerrar información del producto" type="button" (click)="closeProductInformation();" mat-icon-button>
      <mat-icon>arrow_forward</mat-icon>
    </button>
    <div class="product-information-card block-container">
      <div class="information-list">
        <h3>Informaci&oacute;n del Producto</h3>
        <div>
          <h3 class="color-green" matLine> {{ productInformation.name }} </h3>
          <p>
            <span> {{ productInformation.description }} </span>
          </p>
        </div>
        <h3>Laboratorio</h3>
        <div>
          {{ productInformation.laboratory }}
        </div>
        <h3>Prescripci&oacute;n</h3>
        <div>
          {{ productInformation.prescription }}
        </div>
        <h3>Dosificaci&oacute;n</h3>
        <div>
          {{ productInformation.dosis }}
        </div>
      </div>
    </div>
  </div>
  <div class="grid-list" *ngIf="!newProductForm">
    <div class="product-list">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Producto </th>
          <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
        </ng-container>
        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let product" width="50" [ngClass]="{'active-cell-info': product._id === activeInformation}">
            <button type="button" mat-icon-button
              (dblclick)="$event.stopPropagation();"
              (click)="$event.stopPropagation();showProductInformation(product);"
            >
              <mat-icon [style.color]="'#5b9848'">info</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="boxes">
          <th mat-header-cell *matHeaderCellDef width="70"> Cajas </th>
          <td mat-cell *matCellDef="let product" align="center"> {{ product.boxes }} </td>
        </ng-container>
        <ng-container matColumnDef="units">
          <th mat-header-cell *matHeaderCellDef width="70"> Unidades </th>
          <td mat-cell *matCellDef="let product" align="center"> {{ product.units }} </td>
        </ng-container>
        <ng-container matColumnDef="unit_price">
          <th mat-header-cell *matHeaderCellDef width="100"> Precio / Unidad </th>
          <td mat-cell *matCellDef="let product" align="right"> {{ product.unit_price | currency }} </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef width="70"> Precio / Caja </th>
          <td mat-cell *matCellDef="let product" align="right">
            <span *ngIf="product.payIva === true" mat-tooltip="Paga IVA">*</span>{{ product.price | currency }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr (click)="markProduct(row._id)" (dblclick)="selectProduct(row)" mat-row *matRowDef="let row; columns: displayedColumns;"
          class="product-items" [ngClass]="{'active-row': row._id === selected}"></tr>
      </table>
    </div>
    <div>
      <button mat-raised-button class="full-line" color="primary" [disabled]="selected === ''" (click)="selectMarkedProduct();">
        Seleccionar
      </button>
      <br>
      <br>
      <button mat-raised-button class="full-line" (click)="cleanSearch();">
        Limpiar
      </button>
      <br *appPerms="'invoice.newProduct'">
      <br *appPerms="'invoice.newProduct'">
      <button *appPerms="'invoice.newProduct'" mat-raised-button class="full-line" (click)="createProduct();">
        Crear nuevo
      </button>
      <br *appPerms="'invoice.deleteProduct'">
      <br *appPerms="'invoice.deleteProduct'">
      <button *appPerms="'invoice.deleteProduct'" mat-raised-button color="warn" class="full-line" (click)="deleteProduct();" [disabled]="selected === ''">
        Eliminar
      </button>
      <br>
      <br>
      <button mat-raised-button class="full-line" (click)="closeModal();">
        Cancelar
      </button>
    </div>
  </div>
</div>
