<app-loading-bar [show]="loading"></app-loading-bar>
<mat-toolbar>
  <div layout="row">
    <h1 class="mat-title">Registro de movimientos</h1>
  </div>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="checkBeforeSave()">
  <mat-card class="limit-sheet-width">
    <mat-toolbar class="align-right">
      <button type="button" mat-button (click)="newMovement()">
        Nuevo
      </button>
      <span class="spacer"></span>
      <button *appPerms="'configuration.movements.register.upload'" type="button" mat-button (click)="excelUpload()">
        <mat-icon>cloud_upload</mat-icon> Cargar desde excel
      </button>
      <button type="button" [disabled]="buttonSaveClicked || !form.value.movementType" (click)="checkBeforeSave();" mat-raised-button color="primary">
        <mat-icon>save</mat-icon> Guardar
      </button>
    </mat-toolbar>
    <mat-card-header>
      <div class="mat-title">Registro de Productos</div>
    </mat-card-header>
    <mat-card-content>


      <div class="grid-2-columns">
        <div>
          <mat-radio-group class="grid-2-columns" formControlName="movementType" (change)="checkPassword()">
            <mat-radio-button value="ingreso" *appPerms="'configuration.movements.register.income'">Ingreso</mat-radio-button>
            <mat-radio-button value="egreso" *appPerms="'configuration.movements.register.outcome'">Egreso</mat-radio-button>
          </mat-radio-group>
        </div>
        <div>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha de Ingreso" formControlName="creationDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="grid-2-columns">
        <div>
          <mat-form-field class="full-line">
            <input matInput placeholder="Número de factura" formControlName="invoiceNumber">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="full-line">
            <input matInput placeholder="Proveedor" formControlName="provider">
          </mat-form-field>
        </div>
      </div>
      <div>
        <mat-form-field class="full-line no-resize">
          <textarea matInput placeholder="Observaciones" formControlName="observations"></textarea>
        </mat-form-field>
      </div>
      <div>
        <app-product-selector [restrictInventotyControl]="form.value.movementType === 'egreso'" [editedProduct]="editedProduct" (afterProductSelected)="addProductItem($event)"></app-product-selector>
        <br>
        <div class="mat-title">Lista de productos</div>
        <div>
          <table mat-table [dataSource]="productsDataSource">
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef width="50"> </th>
              <td mat-cell *matCellDef="let element" class="align-center">
                <button *ngIf="form.value.movementType === 'ingreso'" type="button" mat-icon-button (click)="updateProductDetails(element)">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef width="50"> </th>
              <td mat-cell *matCellDef="let element" class="align-center">
                <button type="button" mat-icon-button (click)="removeProduct(element._id)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Producto </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="boxes">
              <th mat-header-cell *matHeaderCellDef width="70" align="center"> Cajas </th>
              <td mat-cell *matCellDef="let element" align="center"> {{element.boxes}} </td>
            </ng-container>
            <ng-container matColumnDef="units">
              <th mat-header-cell *matHeaderCellDef width="70" align="center"> Unidades </th>
              <td mat-cell *matCellDef="let element" align="center"> {{element.units}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr (dblclick)="editCurrentProduct(row);" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</form>
