<mat-toolbar>
  <div layout="row">
    <h1 class="mat-title">Listado de movimientos</h1>
  </div>
  <span class="spacer"></span>
  <button type="button" mat-button color="default" (click)="printReport()" [disabled]="movementsDataSource.data.length <= 0">
    <mat-icon>print</mat-icon> Imprimir
  </button>
</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="searchMovements()">
  <mat-toolbar>
    <mat-form-field>
      <mat-select placeholder="Tipo de movimiento" formControlName="movementType">
        <mat-option value="ingreso,egreso">Todos</mat-option>
        <mat-option value="ingreso">Ingresos</mat-option>
        <mat-option value="egreso">Egresos</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Fecha de Inicio" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="pickerend" placeholder="Fecha de Fin" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
      <mat-datepicker #pickerend disabled="false"></mat-datepicker>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">
      <mat-icon>search</mat-icon> Consultar
    </button>
  </mat-toolbar>
</form>
<mat-card>
  <mat-card-content #reportContent>
    <table mat-table [dataSource]="movementsDataSource" class="mat-elevation-z1">
      <ng-container matColumnDef="item">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element" width="50"> {{ element.item }} </td>
      </ng-container>
      <ng-container matColumnDef="movementCode">
        <th mat-header-cell *matHeaderCellDef> N&uacute;mero </th>
        <td mat-cell *matCellDef="let element" width="120">
          <a href="javascript:void(0)" (click)="viewMovementDetails(element._id)">{{ element.movementCode }}</a>
        </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element" width="180"> {{ element.creationDate | date: 'medium' }} </td>
      </ng-container>
      <ng-container matColumnDef="movementType">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let element" width="90"> {{ element.movementType }} </td>
      </ng-container>
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef> Proveedor </th>
        <td mat-cell *matCellDef="let element" width="180"> {{ element.provider || '-' }} </td>
      </ng-container>
      <ng-container matColumnDef="invoiceNumber">
        <th mat-header-cell *matHeaderCellDef> Factura </th>
        <td mat-cell *matCellDef="let element" width="180"> {{ element.invoiceNumber || '-' }} </td>
      </ng-container>
      <ng-container matColumnDef="observation">
        <th mat-header-cell *matHeaderCellDef> Nota </th>
        <td mat-cell *matCellDef="let element"> {{ element.observations }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
